/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Body */
body{
    font-family: Arial, sans-serif;
    line-height:1.6;
    background:#f4f4f4;
    color:#333;
}

/* Header */
header{
    background:#0077cc;
    color:white;
    padding:20px;
    text-align:center;
}

/* Navigation */
nav{
    margin-top:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

nav a:hover{
    text-decoration:underline;
}

/* Main */
main{
    width:80%;
    margin:30px auto;
}

/* Sections */
section{
    background:white;
    padding:20px;
    margin-bottom:20px;
    border-radius:8px;
}

/* Footer */
footer{
    background:#222;
    color:white;
    text-align:center;
    padding:15px;
}

/* Form */
input,
textarea{
    width:100%;
    padding:10px;
    margin-top:5px;
    margin-bottom:15px;
}

button{
    background:#0077cc;
    color:white;
    border:none;
    padding:10px 20px;
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    background:#005fa3;
}